<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
  <style class="cp-pen-styles">
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&subset=latin-ext");
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous">
  </script>
  <link rel="stylesheet" href="/stylesheets/dashboard-style.css">
</head>



<body>

  <!-- NavBar -->
  <div class="sidebar-is-reduced">
    <header class="l-header">
      <div class="l-header__inner clearfix">
        <div class="c-header-icon js-hamburger">
          <div class="hamburger-toggle"><span class="bar-top"></span><span class="bar-mid"></span><span
              class="bar-bot"></span></div>
        </div>

        <a href="">

          <a href="/article/getallarticle">
            <div class="c-header-icon has-dropdown "> <span
                class="c-badge c-badge--header-icon animated bg-primary">Home
                Page</span> <i class="fas fa-home" style="font-size: large;"></i>
              <div class="c-dropdown c-dropdown--notifications">
                <div class="c-dropdown__header"></div>
                <div class="c-dropdown__content"></div>
              </div>
            </div>

          </a>

          <a href="/article/createArticlePage">
            <div class="c-header-icon has-dropdown "> <i class="far fa-file m-2"></i><span
                class="c-badge c-badge--header-icon animated bg-success">Add Article</span> <i class="fas fa-plus"
                style="font-size: small;"></i>
              <div class="c-dropdown c-dropdown--notifications">
                <div class="c-dropdown__header"></div>
                <div class="c-dropdown__content"></div>
              </div>
            </div>
          </a>

        </a>


        <div class="c-search">
          <input class="c-search__input u-input" placeholder="Search..." type="text" />
        </div>

        <div class="header-icons-group">
          <div class="c-header-icon logout">
            <a href="" class="link-secondary " data-bs-toggle="modal" data-bs-target="#exampleModal">Logout <i
              class="fa fa-power-off"></i></a>          </div>
        </div>
      </div>
    </header>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are You Sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you want exit from your account?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="/user/logout"> <button type="button" class="btn btn-danger">Log Out </button>
            </a>

          </div>
        </div>
      </div>
    </div>


    <!-- SlideBar  -->
    <div class="l-sidebar fixed-top bg-dark" style="position: fixed;">
      <div class="logo bg-dark">
        <div class="logo__txt">Hi <%= user.userName %> </div>
      </div>
      <div class="l-sidebar__content bg-dark">
        <nav class="c-menu js-menu">
          <ul class="u-list">
            <li class="c-menu__item is-active" data-bs-toggle="tooltip" onclick="changeTab(this)" title="Articles">
              <div class="c-menu__item__inner"><i class="fa fa-file-text-o"></i>
                <div class="c-menu-item__title"><span>My Articles</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-bs-toggle="tooltip" onclick="changeTab(this)" title="Profile">
              <div class="c-menu__item__inner"><i class="fa fa-user"></i>
                <div class="c-menu-item__title"><span>Profile</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-bs-toggle="tooltip" onclick="changeTab(this)" title="Users">
              <div class="c-menu__item__inner"><i class="fa fa-users"></i>
                <div class="c-menu-item__title"><span>Users</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-bs-toggle="tooltip" onclick="changeTab(this)"
              title="Manage Admin">
              <div class="c-menu__item__inner"><i class="fa fa-address-book-o"></i>
                <div class="c-menu-item__title"><span>Manage Admin</span></div>
              </div>
            </li>
            <li class="c-menu__item has-submenu" data-bs-toggle="tooltip" onclick="changeTab(this)" title="Settings">
              <div class="c-menu__item__inner"><i class="fa fa-cogs"></i>
                <div class="c-menu-item__title"><span>Settings</span></div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <main class="l-main ">
    <div class="content-wrapper content-wrapper--with-bg p-0">

      <!-- Article Block -->
      <div class="list-group Articles mainContainer p-2">
        <% for(let  i= articles.length-1 ; i >= 0; i--){ %>
        <div class="list-group Articles mainContainer p-2">
          <a href="#" class="list-group-item">
            <div class="media col-md-3">
              <figure class="pull-left mx-1">
                <img class="media-object img-rounded img-responsive" height="150" width="150"
                  src="/images/article/<%= articles[i].image %>">
              </figure>
            </div>
            <div class="col-md-5 ">
              <h4 class="list-group-item-heading pb-3 "> <%= articles[i].title %> </h4>
              <p class="list-group-item-text"><%= articles[i].description %> . . .</p>
            </div>



            <div class="d-grid gap-2 d-md-block container pt-4">
              <div class="row justify-content-start">

                <ul class="list-inline m-0">
                  <li class="list-inline-item">
                    <form action="/article/getSingleArticle/<%= articles[i]._id %>" method="GET" >
                      <button class="btn btn-primary btn-sm rounded-0" type="submit" data-toggle="tooltip"
                        data-placement="top" title="Read More"><i class="fa fa-table"></i></button>
                    </form>
                  </li>

                  <li class="list-inline-item">
                    <form action="/article/editArticlePage/<%= articles[i]._id %>" method="GET">
                      <button class="btn btn-success btn-sm rounded-0" type="submit" data-toggle="tooltip"
                        data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                    </form>
                  </li>
                  <li class="list-inline-item">
                    <button class="btn btn-danger btn-sm rounded-0" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="DeleteArticle(`<%= articles[i]._id %>`)" type="button" data-toggle="tooltip"
                      data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                  </li>
                </ul>


              </div>
            </div>


          </a>

        </div>
        <% } %>

      </div>


      <!-- Edit Profile Block -->
      <div class="Profile d-none mainContainer  position-relative p-2">
        <div class="cotainer ">
          <div class="row justify-content-center ">
            <div class="col-md-8 ">
              <div class="card ">
                <div class="card-header">Update Profile</div>
                <div class="card-body fs-5">
                  <div class="row">

                    <div class="card">
                      <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                          <img src="/images/avatars/<%=user.avatar %>" alt="" class="rounded-circle" width="150"
                            height="150">
                          <div class="mt-3">
                            <h4><%= user.firstName  + " "+ user.lastName%></h4>
                            <p class="text-secondary mb-1"> You are <b><%= user.role %></b> </p>
                            <form action="/user/avatar" method="post" onsubmit="return validAvatar()"
                              enctype="multipart/form-data">
                              <div class="mb-3">
                                <input class="form-control avatarInput" name="avatar" type="file" id="formFile">
                              </div>
                              <button type="submit" class="btn btn-outline-primary">Save Profile</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <form class="" name="my-form" onsubmit="return validUpdateForm()" action="/user/editProfile"
                    method="POST">
                    <div class="col-md-6 mb-4">

                      <h1 class="text-success fw-bold"></h1>

                    </div>

                    <div class="form-group row p-2">
                      <label for="firstName " class=" col-md-3 col-form-label text-md-right">First
                        Name</label>
                      <div class="col-md-4 ">
                        <input type="text" id="firstName" class="form-control updateForm" name="firstName"
                          value="<%= user.firstName %>" disabled>
                      </div>
                      <div class="col-md-5 m-0 " style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="firstNameAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row p-2">
                      <label for="lastName" class="col-md-3 col-form-label text-md-right">Last
                        Name</label>
                      <div class="col-md-4">
                        <input type="text" id="lastName" class="form-control updateForm" name="lastName"
                          value="<%= user.lastName %>" disabled>
                      </div>
                      <div class="col-md-5 m-0" style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="lastNameAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row p-2">
                      <label for="Email" class="col-md-3 col-form-label text-md-right">E-Mail
                        Address</label>
                      <div class="col-md-4">
                        <input type="text" id="Email" class="form-control updateForm" name="Email"
                          value="<%= user.Email %>" disabled>
                      </div>
                      <div class="col-md-5 m-0" style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="EmailAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row p-2">
                      <label for="phoneNumber" class="col-md-3 col-form-label text-md-right">Phone
                        Number</label>
                      <div class="col-md-4">
                        <input type="text" id="phoneNumber" class="form-control updateForm" name="phoneNumber"
                          value="<%= user.phoneNumber %>" disabled>
                      </div>
                      <div class="col-md-5 m-0" style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="phoneNumberAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row p-2">
                      <label for="userName" class="col-md-3 col-form-label text-md-right">Username</label>
                      <div class="col-md-4">
                        <input type="text" id="userName" class="form-control" name="userName"
                          value="<%= user.userName %>" disabled>
                      </div>

                      <div class="col-md-5 m-0" style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="userNameAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row p-2">
                      <label for="password" class="col-md-3 col-form-label text-md-right">Password</label>
                      <div class="col-md-4">
                        <input type="password" id="password" class="form-control updateForm" name="password" value=""
                          disabled>
                      </div>
                      <div class="col-md-5 m-0" style="height: 38px;">
                        <div class="alert alert-warning d-none  m-0 " id="passwordAlert" role="alert"
                          style="font-size: 10px; color: red;">
                        </div>
                      </div>
                    </div>

                    <div class="form-group row p-2">
                      <legend class="col-md-3 col-form-label text-md-right">Sex</legend>
                      <div class="col-md-4 " id="sex">
                        <input type="sex" class="form-control" name="sex" value="<%= user.sex%>" disabled>
                      </div>

                      <div class="col-md-6 d-none sex">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sex" id="gridRadios1" value="male" checked>
                          <label class="form-check-label" for="gridRadios1">
                            Male
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="sex" id="gridRadios2" value="female">
                          <label class="form-check-label" for="gridRadios2">
                            Female
                          </label>
                        </div>
                        <div class="form-check disabled">
                          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3"
                            value="option3" disabled>
                          <label class="form-check-label" for="gridRadios3">
                            Non-intersex
                          </label>
                        </div>
                      </div>
                    </div>


                    <button type="button" class="btn btn-warning col-md-3 " onclick="editFunc()">
                      Edit Profile
                    </button>

                    <button type="submit" class="btn btn-success  col-md-3" id="submitBtn" disabled>
                      Submit
                    </button>

                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mainContainer Users d-none">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">firstName</th>
              <th scope="col">lastName</th>
              <th scope="col">userName</th>
              <th scope="col">Email</th>
              <th scope="col">phoneNumber</th>
              <th scope="col">role</th>
            </tr>
          </thead>

          <tbody></tbody>
          <% for (let i = 0 ; i< users.length ; i++){ %>
          <tr data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="ShowUsers('<%= users[i]._id %>')">
            <th scope="row"><%=i+1 %></th>
            <td><%=users[i].firstName %></td>
            <td><%=users[i].lastName %></td>
            <td><%=users[i].userName %></td>
            <td><%=users[i].Email %></td>
            <td><%= users[i].phoneNumber %></td>
            <td><%= users[i].role %></td>
          </tr>
          <% }%>

          </tbody>
        </table>

        <!-- Modal
        <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div> -->

      </div>

    </div>
  </main>





  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://use.fontawesome.com/2188c74ac9.js'></script>
  <script src="/javascripts/dashboard-main.js"></script>
</body>

</html>